<div>
  {{if loading "Loading...."}}
  {{if error.length error}}
</div>
<div class="pr-comment-container">
  {{textarea value=body disabled=loading}}
</div>
<div>
  <button disabled={{loading}} onclick={{action 'save'}}>Save</button>
  <button disabled={{loading}} onclick={{action 'cancel'}}>Cancel</button>
</div>