<h1 class='pr-title'>This is the title of my PR</h1>
<div class="container">
  <div class="pr-body">
  {{{markdown body}}}
  </div>

  <div class="pr-comment">
    <div class="pr-comment-path">/app/models/abc.js</div>
    <div class="pr-comment-diff">
      {{diff-text diff=diffText}}
    </div>
    <div class="pr-comment-body">
      This is the body of my comment. It should also be rendered in markdown since that's what github supports
    </div>
  </div>

  <div class="pr-comment">
    <div class="pr-comment-path">/app/models/abc.js</div>
    <div class="pr-comment-diff">
      {{diff-text diff=diffText}}
    </div>
    <div class="pr-comment-body">
      This is the body of my comment. It should also be rendered in markdown since that's what github supports
    </div>
  </div>

  <div class="pr-comment">
    <div class="pr-comment-path">/app/models/abc.js</div>
    <div class="pr-comment-diff">
      {{diff-text diff=diffText}}
    </div>
    <div class="pr-comment-body">
      This is the body of my comment. It should also be rendered in markdown since that's what github supports
    </div>
  </div>
</div>

{{yield}}
