<h1 class='pr-title'>{{model.title}}</h1>
<div class="container">
  <div class="pr-body">
  {{{markdown model.body}}}
  </div>

  {{#each model.comments as |comment|}}
  <div class="pr-comment">
    <div class="pr-comment-path">{{comment.path}}</div>
    <div class="pr-comment-diff">
      {{diff-text diff=comment.diffHunk}}
    </div>
    <div class="pr-comment-body">
      {{{markdown comment.body}}}
    </div>
  </div>
  {{/each}}
  {{compose-pr-comment pr=model}}
  {{!-- <div class="compose-pr-comment">
    <div class="pr-comment-container">
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="actions text-right">
      <button class="action">Cancel</button>
      <button class="action">Submit</button>
    </div>
  </div> --}}
</div>

{{yield}}
